body {
    font-family: 'Consolas';
    color: #0094ff;
    font-size: 20px;
}

p:first-line {
    font-weight: bold;
    margin-bottom:2em;
}

p:first-letter {
    font-family: 'Edwardian Script ITC','Great Vibes';
    font-size: 1.5em;
}

