<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringOccurrenceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/StringService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStringOccurrenceService"
                contract="IStringOccurrenceService" name="BasicHttpBinding_IStringOccurrenceService" />
        </client>
    </system.serviceModel>
</configuration>