li{
    list-style-type: none;
}
ul li a{
    text-decoration:none;
    color:black;
}
ul li ul li a{
    text-decoration:none;
    color:gray;
}
a:hover{
    text-decoration:underline;
}
ul li ul{
    display:none;
}
ul>li:hover>ul{
    display:block; 
}